<div data-role="header" data-theme="b">
	<h1>Main page</h1>
	<a href="#options" data-icon="gear" class="ui-btn-right">Options</a>
</div><!-- /header -->

<div data-role="content">
	<p>
		This is a single page boilerplate template that you can copy to build your first jQuery Mobile page.
	</p>

	<p>
		This project uses the following libraries :
		<ul>
			<li><b><a href="http://jquery.com/">JQuery</a></b></li>
			<li><b><a href="http://jquerymobile.com/">JQuery Mobile</a></b> for the Mobile UI Framework</li>
			<li><b><a href="http://underscorejs.org/">Underscore</a></b> for the templating system</li>
			<li><b><a href="http://requirejs.org/">RequireJS</a></b> for Asynchronous Module Definition</li>
			<li><b><a href="http://backbonejs.org/">Backbone</a></b> for code organization (MVC) & a better routing system</li>
		</ul>
	</p>

	<h2>Important things</h2>
	<p>The JQuery mobile default routing system is disabled and replaced by a Backbone router. This allow to pass and easily retrieve arguments between pages. You can also use the <a href="https://github.com/azicchetti/jquerymobile-router">Azicchetti router/controller</a> for JQuery mobile.</p>

	<h2>Simple list using template system</h2>

	<ul data-role="listview" data-inset="true" id="carListView"></ul>
</div><!-- /content -->

<div data-role="footer" data-theme="b" data-position="fixed">
	<h4>Footer content</h4>
</div><!-- /footer -->